body{
	border: none;
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif;
}
.span{
	cursor:pointer;
    box-shadow: inset 0px -10px 0px yellow;
	}
	.grey{
		border: none;
		margin: 0;
		padding: 0;
		background:#E4E4E4;
		height: 200px;
		width:680px;
		background-image: url(PersonalWebsite_IMG_02.jpg);
		border: none;
	}
	#last-grey{
		height:326px;
		width:608px;
		background-color:#FFFFFF;
		opacity:0.5;
		margin: 0 auto;
		padding: 0;
	}
	#hide-grey{
		width: 70%;
		height: 200px;
		background-color:#E4E4E4;
		margin: 0 auto;
	}
/*css for all the fancy buttons*/
.button{
	padding:25px;
	font-size:16px;
	margin: 0 auto;
	width:378px;
	background:inherit;
	border-radius:100px;
	border:2px solid white;
	text-align: center;
	cursor: pointer;
	color:white;
	font-family: 'Lora', serif;;
	font-weight:700;
	}
	.button:hover{
	transition:0.4s;
	border:2px solid white;
	background:#ffffff;
	color:inherit;
	}
	#secondbutton{
		border:2px solid #57c7ED;
		color:#57c7Ed;
	}
	#secondbutton:hover{
		border:2px solid #57c7ED;
		color:white;
		transition:0.4s;
		background:#57c7ed;
		
	}
	#thirdbutton:hover{
		color:#57c7ed;
	}
	#thirdbutton2:hover{
		color:grey;
	}

/*first section that contains image and the am a physician part*/
#first{
	padding: 0px;
	margin:0px;
	border: none;
	background:#57C7ED;
	width:100%;
	}
	#first-div{
	margin:0;
	border: none;
	padding:0;
	}
	#first-div2{
	margin: 0;
	border:none;
	padding: 0;
	padding-top:100px;
	color: white;
	text-align:left;

	}
	#square-avatar{
	padding:0;
	width:100%;
	}
	#first-para{
	padding-left: 100px;
	padding-top:120px;
	border: none;
	font-size:60px;
	font-weight: 100;
	}
	#first-para2{
	padding-left: 100px;
	margin-top:20px;
	border: none;
	font-size:60px;
	font-family: 'Muli', sans-serif;
	font-weight:900;
	}

/*second section ..this part is the white long part that contains a lot of activity*/

#second{
	border:none;
	padding: 0;
	padding-bottom:150px;
	margin: 0;
	background:;
	width: 100%;
	color:grey;
	font-size:30px;
	}
	#second-heading{
	padding: 0;
	padding-top: 100px;
	padding-bottom:30px;
	border: none;
	text-align:center;
	font-size: 20px;
	}
	#hide h2,#second-heading2{
	padding: 0;
	margin-bottom:100px;
	border: none;
	text-align: center;
	color:#57C7ED;
	font-size:60px;
	font-weight:800;
	}
	.second-head{
	border-bottom: 2px solid #57C7ED;
	font-size:80px;
	margin-bottom: 40px;
	width:680px;
	padding-bottom: 15px;
	font-family: 'Lora', serif;
	}
	.row{
	margin: 0;
	}
	.row2{
	margin-bottom:130px;
	}
	/*the columns in the second section*/
	.first{
	margin-left:10%;
	}
	.second{
	
	}
	.second-text{
	font-size:36px;
	margin-top:40px;
	}
#hide{
	display: none;
}
#hide h4{
	margin: 0;
	padding-top:60px;
	padding-bottom: 30px;
}
#hide h2{
		margin-bottom: 50px !important;
}
#hide,#hide2{
	text-align: center;
}
#hide-row{
	width: 70%;
	margin: 0 auto;
}
#hide-row1{
	width: 70%;
	margin: 0 auto;
	border-bottom: 2px solid powderblue;
}
#hide-row1 div{
	margin-top:0;
}
.hide-div p {
	text-align: left;
}
#hide2 h4{
margin: 0;
padding-top: 60px;
padding-bottom: 30px;
}

/*third section that contains thoughts and Talks*/
#third{
	background:#57C7ED;
	color:white;
	font-size:36px;
	width:100%;
	text-align:center;
	}
	#third-div{
	background: #57C7ED;
	height:850px;
	}
	#third-div2{
	background:#95989A;
	height:850px;
	}
	.third-heading{
	font-size:20px;
	margin-bottom: 80px;
	padding-top:100px;
	}
	.third-text{
	margin-top:60px;
	margin-bottom: 100px;
	}
/*fourth section you may also know it as the footer*/
#fourth{
	background-color: #222328;
	color: grey;
	padding:0;
	text-align: center;
	}
	#fourth h3{
		margin:0;
		font-size: 45px;
		padding-top:25px;
		border: none;
	}
	#fourth p{
		font-size:20px;
		padding-top:10px;
		padding-bottom: 20px;
	}
	#fourth li{
		list-style-type: none;
		font-size: 16px;
		padding-top:10px;
		padding-bottom: 10px;
	}
	.fourth-div{
		width: 20%;
		height: 80px;
		border-right:1px solid white;
	}
	#fourth #foot-text{
		font-size:15px;
		margin: 0;
		border:none;
		padding-top:100px;
	}
/*let the responsiveness begin*/
@media only screen and (max-width:1366px) {
	#hide h2,#first-para,#first-para2,#second-heading2{
		font-size: 40px;
	}
	#first-para{
		padding-top:50px;
	}
	.grey,.second-head{
		width:410px;
		font-size:53.6px;
	}
	.grey{

	}
	.first,.second{
		display: box;
		box-orient:horizontal;
		box-align:center;
	}
	#last-grey{
		width: 408px;
		height:266px;
	}
	.button{
		font-size: 13.333px;
		padding:15px;
		width:250px;
	}
	.second-text,#third{
		font-size:24.12px;
	}
}
@media only screen and (max-width: 1283px){
	#first-para,#first-para2,#second-heading2{
		font-size: 35px;
	}
@media only screen and (max-width: 1234px){
	#hide h2,#first-para,#first-para2,#second-heading2{
		font-size: 30px;
	}
}
@media only screen and (max-width: 1055px){
	.first{
		margin-left:6%;
	}
	.second{
		margin-left:4%;
	}
	#first-div2{
		padding-top:40px;
	}
	#first-para{
		padding-top:10px;
	}
}
@media only screen and (max-width:1011px){
	.first{
		margin-left:5%;
	}
	.second{
		margin-left:5%;
	}
}
@media only screen and (max-width:990px){
	.grey,.second-head{
		width: 360px;
	}
	.first{
		margin-left: 6%;
	}
	.second{
	
	}
}
@media only screen and (max-width: 960px) {
	#first-div2{
		padding-top:40px;
	}
	#first-para{
	padding-left: 50px;
	padding-top:10px;
	border: none;
	font-size:28px;
	}
	#first-para2{
	padding-left: 50px;
	margin-top:10px;
	border: none;
	font-size:28px;
	font-family: 'Muli', sans-serif;
	font-weight:700;
	}
	#hide h2,#second-heading2{
		font-size:28px;
	}
	.grey ,.second-head{
		width:300px;
		font-size:40px;
	 }
	 .grey{
	 }
	 #last-grey{
	 	width: 300px;
	 }
	.first{
		margin-left:9%;
	}
	 .second-text,#third{
		font-size:16.12px;
	}
	.button{
		width:278px;
		padding:20px;
	}
}
@media only screen and (max-width: 870px){
	.first{
		margin-left:7%;
	}
}
@media only screen and (max-width: 857px){
	#hide h2,#first-para,#first-para2,#second-heading2{
		font-size: 25px;
	}
}
@media only screen and (max-width: 815px){
	.first{
		margin-left: 5%;
	}
}
@media only screen and  (max-width:767px){
	.grey,.second-head{
		width:500px;
	}
	.first{
		margin-left:15%;
	}
	.second{
		margin-left: 15%;
	}
	#first-para2{
		padding-bottom: 50px;
	}
}
@media only screen and (max-width: 735px){
	.first,.second{
		margin-left:14%;
	}
}
@media only screen and (max-width: 700px){
	.first,.second{
		margin-left:12%;
	}
}
@media only screen and (max-width: 670px){
	.first,.second{
		margin-left:10%;
	}
}
@media only screen and (max-width: 635px){
	.first,.second{
		margin-left:8%;
	}
}
@media only screen and (max-width: 610px){
	.first,.second{
		margin-left:6%;
	}
}
@media only screen and (max-width: 590px){
	.first,.second{
		margin-left:12%;
	}
	.grey,.second-head{
		width: 400px;
	}
}
@media only screen and (max-width: 540px){
	.first,.second{
		margin-left:10%;
	}
	#first-para2{
		padding-bottom: 50px;
	}
}
@media only screen and (max-width: 520px){
	.first,.second{
		margin-left:8%;
	}
}
@media only screen and (max-width: 495px){
	.first,.second{
		margin-left:6%;
	}
}
@media only screen and (max-width: 480px){
	.grey,.second-head{
		width:350px;
	}
	.first,.second{
		margin-left:10%;
	}
}
@media only screen and (max-width: 465px){
	.first,.second{
		margin-left:8%;
	}
}
@media only screen and (max-width: 435px){
	.first,.second{
		margin-left:5%;
	}
}
@media only screen and (max-width: 415px){
	.first,.second{
		margin-left:10%;
	}
	.grey,.second-head{
		width: 300px;
	}
}
@media only screen and (max-width: 395px){
	.first,.second{
		margin-left:6%;
	}
}
@media only screen and (max-width: 363px){
	.first,.second{
		margin-left:12%;
	}
	.grey,.second-head{
		width: 250px;
	}
	#last-grey{
		width:250px;
	}
	.button{
		width:237px;
		font-size:10px;
	}
}
@media only screen and (max-width: 334px){
	.first,.second{
		margin-left:10%;
	}
	#first-para{
		padding-left:10px;
		font-size:20px;
	}
	#first-para2{
		padding-left:10px; 
		font-size:20px;
	}
	#last-grey{
		width:250px;
	}

}
@media only screen and (max-width: 302px){
	.first,.second{
		margin-left:11%;
	}
	#last-grey{
		width: 200px;
	}
	.button{
		width: 200px;
	}
	.grey,.second-head{
		width: 200px;
	}
}
@media only screen and (max-width: 281px){
	.first,.second{
		margin-left:6%;
	}
}
@media only screen and (max-width: 265px){
	.first,.second{
		margin-left:6%;
	}
}
